{% extends 'dashboard/base.html' %}
{% block content %}
<h2>Terms</h2>
<table class="table">
  <thead>
    <tr><th>Name</th><th>Year</th><th>Semester</th><th>Start</th><th>End</th><th>Locked</th></tr>
  </thead>
  <tbody>
    {% for t in terms %}
      <tr>
        <td>{{ t.name }}</td>
        <td>{{ t.academic_year }}</td>
        <td>{{ t.get_semester_display }}</td>
        <td>{{ t.start_date }}</td>
        <td>{{ t.end_date }}</td>
        <td>{{ t.is_locked }}</td>
      </tr>
    {% empty %}
      <tr><td colspan="6">No terms found.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}


